#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search_label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
#search {
  height: 2rem;
  width: 300px;
  font-size: 1rem;
}

.submit_button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
