* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: antiquewhite;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  border: 3px solid black;
  padding: 10px;
}

.navigation li a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.movie_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 40px;
  gap: 50px;
  padding: 10px;
}

.movie_list li {
  list-style-type: none;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
  position: relative;
  width: 300px;
}

.movie_list li p {
  margin: 2px 0;
}

.movie_list li h3 {
  margin-bottom: 5px;
}

.movie_list li img {
  margin-top: 10px;
}

.details_button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 0px auto;
  margin-top: 10px;
}

.favorite {
  border: none;
  background-color: transparent;
  color: #007bff;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.toggle_section {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  height: 80%;
  width: 45%;
  overflow: scroll;
  margin: auto;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle_section h2 {
  font-size: 1.5rem;
  margin: 20px 5px;
}

.toggle_section img {
  max-width: 100%;
  margin-bottom: 10px;
}

.toggle_section p {
  margin: 10px 0;
}

.close_toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.pages_buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  gap: 100px;
  margin-top: 5px;
  margin-bottom: 30px;
}
